# Excel and Csv

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("G:\landdetails.xlsx")
df

FileNotFoundError: [Errno 2] No such file or directory: 'G:\\landdetails.xlsx'

In [ ]:
df.head(3)

##  Info

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   land    5 non-null      int64
 1   area    5 non-null      int64
 2   price   5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

##  Describe

In [50]:
df.describe()

          land        area
count  5.000000   5.000000
mean   3.000000  33.000000
std    1.581139  17.392527
min    1.000000  11.000000
25%    2.000000  22.000000
50%    3.000000  33.000000
75%    4.000000  44.000000
max    5.000000  55.000000

##  data Selection

In [51]:
df.iloc[1:4 , [0,2]]

   land      price
1      2     235w3
2      3   5663553
3      4  35356646